/* 
- the font is the default sans-serif font-family
- the darker color is the css default "teal"
- the lighter color is the css default "yellowgreen"
- the top shadow is the css default "lightgray"
- the bottom shadow is rgb(0, 75, 75)
- the only other colors are black and white
- use this background size and image to get the dotted background on the top half 
    background-size: 20px 20px;
    background-image: radial-gradient(circle, yellowgreen 1px, rgba(0, 0, 0, 0) 1px); 
*/
body{
    box-sizing: border-box;
    font-family:sans-serif;
}
.box1{
    display: flex;
    color:teal;
    background-color: lightgray;
}
.h2{
    display:flex;
    
   justify-content:flex-start;
}
 
.box2{
    display:flex;
    text-align: center;
    box-shadow: 100%;
    background-size: 20px 20px;
    color:red;
    background-image:radial-gradient(circle, yellowgreen 1px, rgba(0, 0, 0, 0) 1px);  ;
   
}
    

.box3{
    
    background-image: radial-gradient(circle, yellowgreen 1px, rgba(0, 0, 0, 0) 1px);
    text-align: center;
    background-color: teal;
    color: white;
}

.box4{
    background-color: rgb(0,75,75);
    color: white;
  
}