body{
    box-sizing: border-box;
    background-color: black;
    font-size: 30px;
    display: flex;
    text-align: center;
    flex-direction: column;
    line-height: 2cm;
}
ul1{
    color:red;
    font-family: 'Courier New', Courier, monospace;
   
    
}
ul2{
    color:blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
ul3{
    color:green;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana;
}
ul4{
    color:yellowgreen;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode';
}